/* CCS reset */
* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Background Color for Site */
body {
    background-color: #d9dcd6;
}
/* Styling for the site's Header */
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Style for "Horiseon" */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}
/* Style for text in Header */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*Style for list in Header  */
.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Displays image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* Positions for lower images */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* Size and Display for main content */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Postioning and styling for sidebar */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Postioning and styling for sidebar */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Postioning and styling for sidebar */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Postioning and styling for sidebar */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Postioning and styling for sidebar */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Postioning and styling for sidebar */
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Postioning and styling for sidebar */
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Postioning and styling for sidebar */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Postioning and styling for sidebar */
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Postioning and styling for sidebar */
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* styling for top content container */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* styling for middle content container */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
   
}
/* styling for bottom content container */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* height for images */
.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}
/* Font size and margin for main content */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 30px;
}
/* styling for footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;

}
